@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Screns */
    /* Colors */
    /* Shadows */
    --primary: rgba(45, 91, 255, 1);
    --secundary: rgba(98, 132, 253, 1);
    --tertiary: rgba(150, 173, 255, 1);
    /* --quaternary

    --hover
    --click
    --icon
    --outline
    --divider

    --bg-light
    --bg-dark
    --bg-disabled

    --text- */
  }

  .theme-violet {
    --primary: rgba(175, 75, 254, 1);
    --secundary: rgba(190, 116, 249, 1);
  }
}
